API.InterviewChallenge/.vs
API.InterviewChallenge/API.InterviewChallenge/bin
API.InterviewChallenge/API.InterviewChallenge/obj
API.InterviewChallenge/InterviewChallenge.Test/bin
API.InterviewChallenge/InterviewChallenge.Test/obj